In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as plt
%matplotlib inline

df = pd.read_csv('Cardetails.csv')
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0

In [3]:
df.drop(['torque','seats'], axis = 1, inplace=True)

In [5]:
df.columns

Index(['name', 'year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner', 'mileage', 'engine', 'max_power'],
      dtype='object')

In [7]:
df.shape

(8128, 11)

In [9]:
# Preprocessing:

#1 Checking null values:

df.isnull().sum()

name               0
year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage          221
engine           221
max_power        215
dtype: int64

In [11]:
df.dropna(inplace=True)

In [13]:
df.shape

(7907, 11)

In [15]:
#2 Duplicate Check

df.duplicated().sum()

1189

In [17]:
df.drop_duplicates(inplace = True)

In [19]:
df.shape

(6718, 11)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6718 entries, 0 to 8125
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           6718 non-null   object
 1   year           6718 non-null   int64
 2   selling_price  6718 non-null   int64
 3   km_driven      6718 non-null   int64
 4   fuel           6718 non-null   object
 5   seller_type    6718 non-null   object
 6   transmission   6718 non-null   object
 7   owner          6718 non-null   object
 8   mileage        6718 non-null   object
 9   engine         6718 non-null   object
 10  max_power      6718 non-null   object
dtypes: int64(3), object(8)
memory usage: 629.8+ KB

In [23]:
#3 Data Analysis:

for col in df.columns:
    print("Unique Values of "+col)
    print(df[col].unique)
    print('==============\n')

Unique Values of name
<bound method Series.unique of 0                  Maruti Swift Dzire VDI
1            Skoda Rapid 1.5 TDI Ambition
2                Honda City 2017-2020 EXi
3               Hyundai i20 Sportz Diesel
4                  Maruti Swift VXI BSIII
                      ...
8121    Maruti Wagon R VXI BS IV with ABS
8122           Hyundai i20 Magna 1.4 CRDi
8123                    Hyundai i20 Magna
8124                Hyundai Verna CRDi SX
8125               Maruti Swift Dzire ZDi
Name: name, Length: 6718, dtype: object>
==============

Unique Values of year
<bound method Series.unique of 0       2014
1       2014
2       2006
3       2010
4       2007
        ...
8121    2013
8122    2014
8123    2013
8124    2007
8125    2009
Name: year, Length: 6718, dtype: int64>
==============

Unique Values of selling_price
<bound method Series.unique of 0       450000
1       370000
2       158000
3       225000
4       130000
         ...
8121    260000
8122    475000
8123    320000
8124    135000
8125    382000
Name: selling_price, Length: 6718, dtype: int64>
==============

Unique Values of km_driven
<bound method Series.unique of 0       145500
1       120000
2       140000
3       127000
4       120000
         ...
8121     50000
8122     80000
8123    110000
8124    119000
8125    120000
Name: km_driven, Length: 6718, dtype: int64>
==============

Unique Values of fuel
<bound method Series.unique of 0       Diesel
1       Diesel
2       Petrol
3       Diesel
4       Petrol
         ...
8121    Petrol
8122    Diesel
8123    Petrol
8124    Diesel
8125    Diesel
Name: fuel, Length: 6718, dtype: object>
==============

Unique Values of seller_type
<bound method Series.unique of 0       Individual
1       Individual
2       Individual
3       Individual
4       Individual
           ...
8121    Individual
8122    Individual
8123    Individual
8124    Individual
8125    Individual
Name: seller_type, Length: 6718, dtype: object>
==============

Unique Values of transmission
<bound method Series.unique of 0       Manual
1       Manual
2       Manual
3       Manual
4       Manual
         ...
8121    Manual
8122    Manual
8123    Manual
8124    Manual
8125    Manual
Name: transmission, Length: 6718, dtype: object>
==============

Unique Values of owner
<bound method Series.unique of 0                First Owner
1               Second Owner
2                Third Owner
3                First Owner
4                First Owner
                ...
8121            Second Owner
8122            Second Owner
8123             First Owner
8124    Fourth & Above Owner
8125             First Owner
Name: owner, Length: 6718, dtype: object>
==============

Unique Values of mileage
<bound method Series.unique of 0        23.4 kmpl
1       21.14 kmpl
2        17.7 kmpl
3        23.0 kmpl
4        16.1 kmpl
           ...
8121     18.9 kmpl
8122    22.54 kmpl
8123     18.5 kmpl
8124     16.8 kmpl
8125     19.3 kmpl
Name: mileage, Length: 6718, dtype: object>
==============

Unique Values of engine
<bound method Series.unique of 0       1248 CC
1       1498 CC
2       1497 CC
3       1396 CC
4       1298 CC
         ...
8121     998 CC
8122    1396 CC
8123    1197 CC
8124    1493 CC
8125    1248 CC
Name: engine, Length: 6718, dtype: object>
==============

Unique Values of max_power
<bound method Series.unique of 0           74 bhp
1       103.52 bhp
2           78 bhp
3           90 bhp
4         88.2 bhp
           ...
8121      67.1 bhp
8122     88.73 bhp
8123     82.85 bhp
8124       110 bhp
8125      73.9 bhp
Name: max_power, Length: 6718, dtype: object>
==============

In [138]:

def get_brand_nameofCar(Car_name):
    Car_name = Car_name.split(' ')[0]
    return Car_name.strip(' ')

get_brand_nameofCar('Honda City 2017-2020 EXi')

def clean_data(value):
    value = value.split(' ')[0]
    value = value.strip()
    if value == '':
        value = 0
    return float(value)

get_brand_nameofCar('Honda City 2017-2020 EXi')

'Honda'

In [38]:
df['name'] = df['name'].apply(get_brand_nameofCar)

In [40]:
df['name'].unique()

array(['Maruti', 'Skoda', 'Honda', 'Hyundai', 'Toyota', 'Ford', 'Renault',
       'Mahindra', 'Tata', 'Chevrolet', 'Datsun', 'Jeep', 'Mercedes-Benz',
       'Mitsubishi', 'Audi', 'Volkswagen', 'BMW', 'Nissan', 'Lexus',
       'Jaguar', 'Land', 'MG', 'Volvo', 'Daewoo', 'Kia', 'Fiat', 'Force',
       'Ambassador', 'Ashok', 'Isuzu', 'Opel'], dtype=object)

In [95]:
df['mileage'] = df['mileage'].apply(clean_data)
df['engine'] = df['engine'].apply(clean_data)
df['max_power'] = df['max_power'].apply(clean_data)

In [97]:
df['name'].replace(['Maruti', 'Skoda', 'Honda', 'Hyundai', 'Toyota', 'Ford', 'Renault',
       'Mahindra', 'Tata', 'Chevrolet', 'Datsun', 'Jeep', 'Mercedes-Benz',
       'Mitsubishi', 'Audi', 'Volkswagen', 'BMW', 'Nissan', 'Lexus',
       'Jaguar', 'Land', 'MG', 'Volvo', 'Daewoo', 'Kia', 'Fiat', 'Force',
       'Ambassador', 'Ashok', 'Isuzu', 'Opel'],
                  [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31], inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_23136\2944842021.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['name'].replace(['Maruti', 'Skoda', 'Honda', 'Hyundai', 'Toyota', 'Ford', 'Renault',

In [99]:
df['transmission'].unique()

array([1, 2], dtype=int64)

In [101]:
df['transmission'].replace(['Manual', 'Automatic'],[1,2],inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_23136\4195162967.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['transmission'].replace(['Manual', 'Automatic'],[1,2],inplace=True)

In [103]:
df['seller_type'].unique()

array([1, 2, 3], dtype=int64)

In [105]:
df['seller_type'].replace(['Individual', 'Dealer', 'Trustmark Dealer'],[1,2,3],inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_23136\1872772954.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['seller_type'].replace(['Individual', 'Dealer', 'Trustmark Dealer'],[1,2,3],inplace=True)

In [107]:
df['fuel'].unique()

array([1, 2, 3, 4], dtype=int64)

In [109]:

df['fuel'].replace(['Diesel', 'Petrol', 'LPG', 'CNG'],[1,2,3,4],inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_23136\2133112440.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['fuel'].replace(['Diesel', 'Petrol', 'LPG', 'CNG'],[1,2,3,4],inplace=True)

In [111]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6718 entries, 0 to 8125
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           6718 non-null   int64
 1   year           6718 non-null   int64
 2   selling_price  6718 non-null   int64
 3   km_driven      6718 non-null   int64
 4   fuel           6718 non-null   int64
 5   seller_type    6718 non-null   int64
 6   transmission   6718 non-null   int64
 7   owner          6718 non-null   int64
 8   mileage        6718 non-null   float64
 9   engine         6718 non-null   float64
 10  max_power      6718 non-null   float64
dtypes: float64(3), int64(8)
memory usage: 887.9 KB

In [113]:
df['owner'].unique()

array([1, 2, 3, 4, 5], dtype=int64)

In [115]:
df['owner'].replace(['First Owner', 'Second Owner', 'Third Owner',
       'Fourth & Above Owner', 'Test Drive Car'],[1,2,3,4,5],inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_23136\2564996163.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['owner'].replace(['First Owner', 'Second Owner', 'Third Owner',

In [117]:
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power
0,1,2014,450000,145500,1,1,1,1,23.40,1248.0,74.00
1,2,2014,370000,120000,1,1,1,2,21.14,1498.0,103.52
2,3,2006,158000,140000,2,1,1,3,17.70,1497.0,78.00
3,4,2010,225000,127000,1,1,1,1,23.00,1396.0,90.00
4,1,2007,130000,120000,2,1,1,1,16.10,1298.0,88.20
...,...,...,...,...,...,...,...,...,...,...,...
8121,1,2013,260000,50000,2,1,1,2,18.90,998.0,67.10
8122,4,2014,475000,80000,1,1,1,2,22.54,1396.0,88.73
8123,4,2013,320000,110000,2,1,1,1,18.50,1197.0,82.85
8124,4,2007,135000,119000,1,1,1,4,16.80,1493.0,110.00
8125,1,2009,382000,120000,1,1,1,1,19.30,1248.0,73.90

In [132]:
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power
0,1,2014,450000,145500,1,1,1,1,23.40,1248.0,74.00
1,2,2014,370000,120000,1,1,1,2,21.14,1498.0,103.52
2,3,2006,158000,140000,2,1,1,3,17.70,1497.0,78.00
3,4,2010,225000,127000,1,1,1,1,23.00,1396.0,90.00
4,1,2007,130000,120000,2,1,1,1,16.10,1298.0,88.20
...,...,...,...,...,...,...,...,...,...,...,...
8121,1,2013,260000,50000,2,1,1,2,18.90,998.0,67.10
8122,4,2014,475000,80000,1,1,1,2,22.54,1396.0,88.73
8123,4,2013,320000,110000,2,1,1,1,18.50,1197.0,82.85
8124,4,2007,135000,119000,1,1,1,4,16.80,1493.0,110.00
8125,1,2009,382000,120000,1,1,1,1,19.30,1248.0,73.90

In [136]:
input_data = df.drop(['selling_price'], axis=1)  # Drop the column 'selling_price'
output_data = df['selling_price']  # Target variable

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

# Assuming input_data and output_data are properly defined
X_train, X_test, y_train, y_test = train_test_split(input_data, output_data, test_size=0.2)

model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [123]:
#model creation

In [140]:
predict = model.predict(X_test)

In [142]:
predict

array([156114.23640456, 545632.00784575, 944553.28064258, ...,
       211485.45126223, 650604.70929866, 236028.00975237])

In [144]:
X_train.head(1)

,name,year,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power
2847,9,2015,25000,2,1,1,1,25.4,624.0,37.5

In [162]:
input_data_model = pd.DataFrame([[5,2010,120000,1,1,1,1,12.99,2494.0,100.6]],
                               columns=['name','year','km_driven','fuel','seller_type','transmission','owner','mileage','engine','max_power'])
input_data_model

,name,year,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power
0,5,2010,120000,1,1,1,1,12.99,2494.0,100.6

In [164]:
model.predict(input_data_model)

array([519777.6054373])

In [166]:
import pickle as pk
pk.dump(model,open('model.pkl','wb'))